
.landing div{
    animation: Scroll linear;
    animation-timeline: view();
        animation-range: entry 0% cover 30%;
}

@keyframes Scroll{
    from {
        opacity: 0;
        scale: 0%;
      }

      to {
        opacity: 1;
        
      }
    }